<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} </title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="./assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link  rel="stylesheet" type = "text/css" href="/assets/css/main.css">  
    <!--Allows user to log in with Netlify Identity widget--> 
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>

    {% include 'header.njk' %}
    <main>
        {{ content | safe }}

    </main>
    {% include 'footer.njk' %}



<!--Adds CMS Panel redirect after log in-->
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>


<!-- Swiper.js -->
<script src="/assets/js/swiper-bundle.min.js"></script>
<!-- Custom script -->
<script src="/assets/js/main.js"></script>
</body>
</html>