    <!-- Footer -->

    <footer class="footer section">
        <div class="footer-container container d-grid">
            <div class="company-data">
                <a href="./index.html">
                    <h2 class="logo">Poetic Ponderings</h2>
                </a>
                <p class="company-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                </p>

                <ul class="list social-media">
                    <li class="list-item">
                        <a href="#" class="list-link">
                            <i class="ri-instagram-line"></i>
                        </a>

                        <a href="#" class="list-link">
                            <i class="ri-facebook-circle-line"></i>
                        </a>

                        <a href="#" class="list-link">
                            <i class="ri-twitter-line"></i>
                        </a>

                        <a href="#" class="list-link">
                            <i class="ri-pinterest-line"></i>
                        </a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy; {% year %} Poetic Ponderings. All rights reserved.</span>
            </div>

            <div>
                <h6 class="title footer-title">Categories</h6>
                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>
                </ul>
            </div>


            <div>
                <h6 class="title footer-title">Resources</h6>
                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>

                    <li class="list-item">
                        <a href="#" class="list-link">Sample Item</a>
                    </li>
                </ul>
            </div>

        </div>
    </footer>