---
title: Poetic Ponderings | Home
layout: 'base.njk'
---

<!-- Featured articles -->

<section class="featured-articles section section-header-offset">
    <div class="featured-articles-container container d-grid">
        <div class="featured-content d-grid">

            <div class="headline-banner">
                <h3 class="headline fancy-border">
                    <span class="place-items-center">Poem of the Day</span>
                </h3>

                 <span class="headline-description">Apple Announces a New Partnership...</span>

            </div>

              <a href="{{ post.url }}" class="article featured-article featured-article-1">
                <img src="./assets/images/featured/featured-1.jpg" alt="" class="article-image">
                <span class="article-category">Poetry</span>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 24, 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>4 min read</span>
                    </div>
                    <h3 class="title article-title">Is VR the Future?</h3>
                </div>
            </a>

            <a href="{{ post.url }}" class="article featured-article featured-article-2">
                <img src="./assets/images/featured/featured-2.jpg" alt="" class="article-image">
                <span class="article-category">Short Stories</span>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 04, 2021</span>
                        <span class="article-data-spacer"></span>
                        <span> 4 min read </span>
                    </div>
                    <h3 class="title article-title">Fine Dining</h3>
                </div>
            </a>

            <a href="{{ post.url }}" class="article featured-article featured-article-3">
                <img src="./assets/images/featured/featured-3.jpg" alt="" class="article-image">
                <span class="article-category">Articles</span>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 04, 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>4 min read</span>
                    </div>
                    <h3 class="title article-title">Fat Burning 101</h3>
                </div>
            </a>
        </div>

      

        <!--Sidebar-->
        <div class="sidebar d-grid">
            <h3 class="title featured-content-title">Recent Posts</h3>

            {%- for post in collections.post | reverse -%}
                {% include 'recent-posts.njk'%}

            {%- endfor -%}
           
        </div>

    </div>
</section>
<!-- Quick read -->
<section class="quick-read section">
    <div class="container">
        <h2 class="title section-title" data-name="Quick Read">
            Quick Read
        </h2>

        <div class="swiper">
            <div class="swiper-wrapper">

                <a href="#" class="article swiper-slide">
                    <img src="./assets/images/quick_read/quick_read_1.jpg" alt="" class="article-image">

                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Is VR the Future?</h3>

                    </div>

                </a>

                <a href="#" class="article swiper-slide">
                    <img src="./assets/images/quick_read/quick_read_2.jpg" alt="" class="article-image">

                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Is VR the Future?</h3>

                    </div>

                </a>

                <a href="#" class="article swiper-slide">
                    <img src="./assets/images/quick_read/quick_read_3.jpg" alt="" class="article-image">

                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Is VR the Future?</h3>

                    </div>

                </a>

                <a href="#" class="article swiper-slide">
                    <img src="./assets/images/quick_read/quick_read_4.jpg" alt="" class="article-image">

                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Is VR the Future?</h3>

                    </div>

                </a>

                <a href="#" class="article swiper-slide">
                    <img src="./assets/images/quick_read/quick_read_5.jpg" alt="" class="article-image">

                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Is VR the Future?</h3>

                    </div>

                </a>

                <a href="#" class="article swiper-slide">
                    <img src="./assets/images/quick_read/quick_read_6.jpg" alt="" class="article-image">

                    <div class="article-data-container">
                        <div class="article-data">
                            <span>Dec 5th 2021</span>
                            <span class="article-data-spacer"></span>
                            <span>8 min read</span>
                        </div>
                        <h3 class="title article-title">Is VR the Future?</h3>
                    </div>
                </a>
            </div>

            <div class="swiper-button-prev swiper-controls"> </div>

            <div class="swiper-button-next swiper-controls"> </div>

            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>
<!-- Older posts -->
<section class="older-posts section">
    <div class="container">
        <h2 class="title section-title" data-name="Older Posts">Older Posts </h2>

        <div class="older-posts-grid-wrapper d-grid">
            <a href="#" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="./assets/images/older_posts/older_posts_1.jpg" alt="" class="article-image">
                </div>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 5th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>8 min read</span>
                    </div>
                    <h3 class="title article-title">Is VR the Future?</h3>

                    <p class="article-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>

                </div>

            </a>

            <a href="#" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="./assets/images/older_posts/older_posts_2.jpg" alt="" class="article-image">
                </div>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 5th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>8 min read</span>
                    </div>
                    <h3 class="title article-title">Is VR the Future?</h3>

                    <p class="article-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>

                </div>

            </a>

            <a href="#" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="./assets/images/older_posts/older_posts_3.jpg" alt="" class="article-image">
                </div>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 5th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>8 min read</span>
                    </div>
                    <h3 class="title article-title">Is VR the Future?</h3>

                    <p class="article-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>

                </div>

            </a>

            <a href="#" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="./assets/images/older_posts/older_posts_4.jpg" alt="" class="article-image">
                </div>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 5th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>8 min read</span>
                    </div>
                    <h3 class="title article-title">Is VR the Future?</h3>

                    <p class="article-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>

                </div>

            </a>

            <a href="#" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="./assets/images/older_posts/older_posts_5.jpg" alt="" class="article-image">
                </div>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 5th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>8 min read</span>
                    </div>
                    <h3 class="title article-title">Is VR the Future?</h3>

                    <p class="article-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>

                </div>

            </a>

            <a href="#" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="./assets/images/older_posts/older_posts_6.jpg" alt="" class="article-image">
                </div>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>Dec 5th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>8 min read</span>
                    </div>
                    <h3 class="title article-title">Is VR the Future?</h3>

                    <p class="article-description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>

                </div>
            </a>
        </div>

        <div class="see-more-container">
            <a href="#" class="btn see-more-btn place-items-center">
                See more <i class="ri-arrow-right-s-line"></i>
            </a>
        </div>
    </div>
</section>
<!-- Popular tags -->

<section class="popular-tags section">
    <div class="container">
        <h2 class="title section-title" data-name="Popular Tags"> Popular Tags</h2>

        <div class="popular-tags-container d-grid">
            <a href="#" class="article"> <span class="tag-name">#Travel</span>
                <img src="./assets/images/tags/travel-tag.jpg" alt="" class="article-image">
            </a>

            <a href="#" class="article"> <span class="tag-name">#Food</span>
                <img src="./assets/images/tags/food-tag.jpg" alt="" class="article-image">
            </a>

            <a href="#" class="article"> <span class="tag-name">#Technolog</span>
                <img src="./assets/images/tags/technology-tag.jpg" alt="" class="article-image">
            </a>

            <a href="#" class="article"> <span class="tag-name">#Health</span>
                <img src="./assets/images/tags/health-tag.jpg" alt="" class="article-image">
            </a>

            <a href="#" class="article"> <span class="tag-name">#Nature</span>
                <img src="./assets/images/tags/nature-tag.jpg" alt="" class="article-image">
            </a>

            <a href="#" class="article"> <span class="tag-name">#Fitness</span>
                <img src="./assets/images/tags/fitness-tag.jpg" alt="" class="article-image">
            </a>

        </div>
    </div>
</section>

<!-- Newsletter -->

<section class="newsletter section">
    <div class="container">
        <h2 class="title section-title" data-name="Newsletter">Newsletter</h2>

        <div class="form-container-inner">
            <h6 class="title newsletter-title">Subscribe to Poetic Ponderings</h6>
            <p class="newsletter description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

            <form action="" class="form">
                <input type="text" placeholder="Enter your email address" class="form-input">
                <button class="btn form-btn" type="submit">
                    <i class="ri-mail-send-line"></i>
                </button>
            </form>


        </div>
    </div>
</section>

<!-- Swiper.js -->
<script src="./assets/js/swiper-bundle.min.js"></script>
<!-- Custom script -->
<script src="./assets/js/main.js"></script>