<!--Author Bio-->

<div class="author d-grid">
            <div class="author-image-box">
                <img src="/assets/images/author.jpg" alt="" class="article-image">
            </div>

            <div class="author-about">
                <h3 class="author-name">{{author}}</h3>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod quas ea unde at sequi commodi
                    consectetur autem quasi? Temporibus necessitatibus nisi amet quae ducimus consequatur? Facilis,
                    aperiam. Perferendis, deserunt consequatur?</p>

                <ul class="list social-media">
                    <li class="list-item">
                        <a href="#" class="list-link">
                            <i class="ri-instagram-line"></i>
                        </a>

                        <a href="#" class="list-link">
                            <i class="ri-facebook-circle-line"></i>
                        </a>

                        <a href="#" class="list-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                    </li>
                </ul>

            </div>